<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIBANTE</title>
    <link rel="stylesheet" href="./styles/aboutus.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="Icon" href="https://yogasuprayitna.github.io/Data-Gambar-Tibante/images/icon/icon_tibante.png">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="./aboutus.html">
                <img
                    class="img1"
                    src="https://yogasuprayitna.github.io/Data-Gambar-Tibante-2/logo%20tibante2.jpg"
                    alt=""
                    width="200"
                    height="50"
                    class="d-inline-block align-text-center"
                />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a
                            class="nav-link icon-link-hover"
                            aria-current="page"
                            href="./index.html"
                            
                            >Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./wisata.html" id="nav-dark1"
                            >Wisata</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="./kuliner.html"
                            id="nav-dark2"
                            >Kuliner</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="./blog.html"
                            id="nav-dark3"
                            >Blog</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  border-bottom" 
                        href="./aboutus.html" id="nav-dark4"
                            >About Us</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
		<!-- End Navbar -->

    <main>
        <section class="about-us">
            <div class="intro-container" data-aos="fade-right" data-aos-duration="1000">
                <div class="intro">
                    <p>Desa Bilebante di Lombok, Indonesia, menawarkan keindahan alam dan budaya autentik. Meski potensinya besar sebagai destinasi wisata, desa ini menghadapi tantangan dalam promosi dan pemasaran yang terbatas, serta infrastruktur yang kurang memadai. Keterbatasan ini menghambat pertumbuhan jumlah wisatawan dan pengembangan pariwisata di daerah tersebut. Sistem informasi berbasis komputer dapat membantu mengatasi hambatan ini dengan menyediakan data dan informasi secara real-time untuk promosi dan pelayanan publik yang lebih efektif.</p>
                </div>
                <div class="logo-section">
                    <img src="https://yogasuprayitna.github.io/Data-Gambar-Tibante-2/logo%20tibante2.jpg" alt="TIBANTE Logo">
                    <h2 class="fs-3">TEMUKAN INDAHNYA BILEBANTE</h2>
                </div>
            </div>
            <div class="team">
                <h2>Our Team</h2>
                <div class="member" data-aos="fade-right"
                data-aos-duration="600" data-aos-delay="500">
                    <div class="photo">
                        <img src="https://yogasuprayitna.github.io/Data-Gambar-Tibante/images/profil/foto%20Ikram.jpeg" alt="Team Member Photo">
                    </div>
                    <div class="info">
                        <p>Nama: Ikram Syauqi Kusej</p>
                        <p>Role: Front End</p>
                        <a href="https://www.linkedin.com/in/ikram-syauqi/" target="_blank"><button>PROFIL</button></a>
                    </div>
                </div>
                <div class="member" data-aos="fade-right"
                data-aos-duration="600" data-aos-delay="600">
                    <div class="photo">
                        <img src="https://yogasuprayitna.github.io/Data-Gambar-3/Screenshot%202024-06-11%20113108.jpg" alt="Team Member Photo">
                    </div>
                    <div class="info">
                        <p>Nama: Ferdy Thursyandi Ontoseno</p>
                        <p>Role: Front End</p>
                        <a href="//www.linkedin.com/in/ferdy-thursyandi-ontoseno-351a36298/" target="_blank"><button>PROFIL</button></a>
                    </div>
                </div>
                <div class="member" data-aos="fade-right"
                data-aos-duration="600" data-aos-delay="700">
                    <div class="photoyoga">
                        <img src="https://yogasuprayitna.github.io/Data-Gambar-Tibante/images/profil/yoga.jpg" alt="Team Member Photo">
                    </div>
                    <div class="info">
                        <p>Nama: Yoga Suprayitna</p>
                        <p>Role: Back End</p>
                        <a href="https://www.linkedin.com/in/yoga-suprayitna-125ab92a3/" target="_blank"><button>PROFIL</button></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <a href="./index.html"><img src="https://yogasuprayitna.github.io/Data-Gambar-Tibante-2/logo%20tibante2.jpg" alt="TIBANTE Logo"></a>
                <p>TEMUKAN INDAHNYA BILEBANTE</p>
            </div>
            <div class="footer-nav">
                <h3>FITUR</h3>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./wisata.html">Wisata</a></li>
                    <li><a href="./kuliner.html">Kuliner</a></li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./aboutus.html">About Us</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Contact</h3>
                <p>Bilebante, Pringgarata, Kabupaten Lombok Tengah, Nusa Tenggara Barat</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>
